<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Permissoes Portal{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/portal/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/portal/css/dataTables.bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}


            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/portal/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('bundles/portal/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/portal/js/jquery.dataTables.min.js') }}"></script>

            <script>
                $('.myTable').dataTable();
                $('.myTableOther').dataTable();

            </script>
        {% endblock %}
    </body>
</html>
